<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
      <div class="box-header">
          <i class="icon-comments">&nbsp; Comments</i>
          </div>
          <table class="table table-strip table-bordered">
            <thead>
            <tr>
              <th>Page</th>
              <th>Created At</th>
              <th>Message</th>
              <th>UserName</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @comments.each do |comment| %>
                <tr>
                  <td>
                    <%= comment.post.url %>
                  </td>
                  <td>
                    <%= simple_date(comment.created_at) %>
                  </td>

                  <td>
                    <%= comment.message.truncate(25) %>
                  </td>
                  <td style="line-height: 24px;">
                    <%= comment.user.username %>
                  </td>
                  <td>
                    <%= link_to_with_icon "icon-edit", "Edit", edit_admin_comment_path(comment), :class => "btn btn-mini btn-info", :remote => true %>
                    <%= link_to_with_icon "icon-ok", "Approve", admin_fire_path('approve', comment.id), :class => "btn btn-mini green", :confirm => "Are you sure?" %>
                    <%= link_to_with_icon "icon-remove", "Reject", admin_fire_path('reject', comment.id), :class => "btn btn-mini red", :confirm => "Are you sure?" %>
                  </td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <%= paginate @comments, :theme => "bootstrap_theme" %>
              </td>
            </tr>
            </tfoot>
          </table>
      </div>

    </div>
  </div>
</div>
