<%= content_for :head do %>
    <%= javascript_include_tag "jquery.raty" %>
    <%= javascript_include_tag "widget" %>
    <!--<%#= javascript_tag "edit_comment_form = '#{escape_javascript(comment_form(@comment, update_comment_posts_url))}'" %>-->
<% end %>
<div class="container-fluid"><%= link_to_with_icon "icon-arrow-left" ,'Back', request.referer, :class => "btn" %> </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="box bordered">

        <ul id="comment_container" class="recent-comments">

          <li class="comment-box">
            <div class="avatar user2 pull-left" style='background-image: url(<%= avatar_url(@comment.user) %>);'></div>

            <div class="article">
              <div class="post-info"> <%= "#{@comment.user.username}, #{time_ago_in_words(@comment.created_at)} ago, Page: #{@comment.post.url}" %>
                <span class="pull-right badge <%= @comment.state_color %>"><%= @comment.state %></span>
              </div>
              <% if @comment.parent.present? %>
                  , <i class="icon-retweet"></i>Reply to <%= @comment.parent.user.username rescue '[Deleted Comment]' %>
              <% end %>
              <div class="past-rating">
                <%= rating_for(@comment, :url => rate_posts_path(:comment_id => @comment.id,
                                                                :widget_id => @comment.post.widget.id,
                                                                :current_page => @comment.post.url)) %>
              </div>

              <div class="post-content-preview">
                <%= @comment.message %>
              </div>

              <div class="article-actions">
                <%= link_to_with_icon "icon-edit", "Edit", edit_admin_comment_path(@comment), :class => "btn btn-mini dark-blue", :remote => true %>
                <%= link_to_with_icon "icon-ok", "Approve", admin_fire_path('approve', @comment.id), :class => "btn btn-mini green", :confirm => "Are you sure?" %>
                <%= link_to_with_icon "icon-remove", "Reject", admin_fire_path('reject', @comment.id), :class => "btn btn-mini red", :confirm => "Are you sure?" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="span6">
      <div class="box bordered">
        <div class="padded">
          <ul class="audience-alt">
            <li style="margin-top:-22px;">
              <div class="percent">Effect in page</div>
            </li>


            <li>
              <div class="icon">
                <div class="big-label medium-blue text-inverse">
                  <i class="icon-star"></i>
                </div>
              </div>

              <div class="value"><%= @shares.count %></div>
              <div class="stat-name">Shares
                    <span>(<%= "#{@twitter_count} <i class='icon-twitter-sign'></i> #{@facebook_count} <i class='icon-facebook-sign'></i> ".html_safe %>
                      )

                    </span>

              </div>

              <div class="percent">(+<%= @shares_overall %>%)</div>
              <div class="progress-bar audience-progress">
                <div class="progress progress-medium-blue">
                  <div class="bar" style="width: <%= @shares_overall %>%"></div>
                </div>
              </div>
            </li>




            <li>
              <div class="icon">
                <div class="big-label light-blue text-inverse ">
                  <i class="icon-retweet icon-white"></i>
                </div>
              </div>
              <div class="value"><%= @children.count %></div>
              <div class="stat-name">Reply</div>

              <div class="percent">(+<%= @children_overall %>%)</div>
              <div class="progress-bar audience-progress">
                <div class="progress progress-light-blue">
                  <div class="bar" style="width: <%= @children_overall %>%"></div>
                </div>
              </div>
            </li>

            <li>
              <div class="icon">
                <div class="big-label dark-plum text-inverse">
                  <i class="icon-heart"></i>
                </div>
              </div>
              <div class="value"><%= @ratings.count %></div>
              <div class="stat-name">Likes</div>

              <div class="percent">(+<%= @ratings_overall %>%)</div>
              <div class="progress-bar audience-progress">
                <div class="progress progress-dark-plum">
                  <div class="bar" style="width: <%= @ratings_overall %>%"></div>
                </div>
              </div>
            </li>

            <li>
              <div class="icon">
                <div class="big-label red text-inverse">
                  <i class="icon-white icon-flag  "></i>
                </div>
              </div>
              <div class="value"><%= @flags.count %></div>
              <div class="stat-name">Flags</div>

              <div class="percent">(+<%= @flags_overall %>%)</div>
              <div class="progress-bar audience-progress">
                <div class="progress progress-red">
                  <div class="bar" style="width: <%= @flags_overall %>%"></div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
