<%= form_for @post, :url => admin_update_post_path(:id => @post.id), :html => {:class => 'form-horizontal'} do |f| %>

    <div class="alert alert fade in">
      <i class="icon-warning-sign"></i> <strong> Changing URL will also change the comments path to be shown ! </strong>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <%= f.text_field :url, :class => "input-xxlarge" %>
      </div>
    </div>
    <br>
    <div class="modal-footer">
      <%= link_to "Close", "#", "data-dismiss" => "modal", :class => "btn", "aria-hidden" => true %>
      <%= link_to_with_icon "icon-trash", "Delete", admin_delete_post_path(:id => @post.id) , :class => "pull-left btn btn-danger", :confirm => "Are you sure?", :method => :delete %>
      <%= button_tag "Save", :disable_with => "Processing", :class => "btn btn-primary" %>
    </div>

<% end %>


