<%= render :partial => "shared/errors", :locals => {:target => resource} %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="login-container center">
        <div class="title text-transparent">Reset Password</div>
        <hr class="main">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'login-form',method: :put }) do |f| %>

            <ul class="fields-list">
              <li>
                <i class="icon-key" style="float: left;"></i>
                <%= f.password_field :password, :autocomplete => "off", :id => "username", :placeholder => "Password" %>
              </li>
              <li>
                <i class="icon-key" style="float: left;"></i>
                <%= f.password_field :password_confirmation, :autocomplete => "off", :id => "username", :placeholder => "Password Confirmation" %>
                <%= f.hidden_field :reset_password_token, :value => params[:reset_password_token] %>
              </li>
            </ul>

            <div class="actions">
              <%= f.submit 'Reset my password', :class => 'btn btn-large medium-blue login-btn' %>
            </div>


        <% end %>
      </div>
    </div>
  </div>
</div>



