<% display_none ||= false %>
<div class="comment-form-container" style="<%= "display:none;" if display_none %>">

  <div style="padding:3px"></div>
  <% if @show_avatar %>
      <%= image_tag avatar_url(current_user), :style => "position:absolute; width:40px;" %>
      <% if @current_user %>
          <%= link_to "Profile", "#", :class => "open-win", "data-link" => account_path,
                      :style => "font-size: 10px;margin-top: -17px;padding-top: 49px;position: absolute;" %>
      <% end %>
  <% end %>
  <% if @current_widget.login_required && @current_user.blank? %>
      <% identifier = rand(19031903) %>
      <%= form_for(@user, :as => "user_registration", :url => registration_path("user_registration", :close => false), :remote => true, :html => {:class => 'login-form'}) do |f| %>
          <%= text_area_tag "comment_message", "", :id => "comment_message_#{identifier}", "data-form" => "login_form_#{identifier}", :placeholder => "Leave your message", :style => "max-height:250px; height:50px; width:100%; overflow:auto; resize:none;" %>
          <br/>

          <%= hidden_field_tag :u, session[:current_widget_host] %>
          <%= hidden_field_tag :k, session[:current_widget_key] %>
          <%= hidden_field_tag :p, session[:current_page] %>

          <div id="login_form_<%= identifier %>" class="post-actions" style="display: none;">

            <div class="logged-out auth-section">
              <section data-tab="auth-external">
                <div class="connect"><h6>Sign in with</h6>
                  <ul class="services">
                    <li class="auth-twitter open-win" data-link="<%= '/auth/twitter' + widget_params("?") %>">
                      <a data-action="auth:twitter " href="#" title="Twitter">Twitter</a></li>
                    <li class="auth-facebook open-win" data-link="<%= '/auth/facebook' + widget_params("?") %>">
                      <a data-action="auth:facebook" href="#" title="Facebook">Facebook</a></li>
                    <li class="auth-talky open-win " data-link="<%= '/authenticate/login' + widget_params("?") %>">
                      <a data-action="auth:facebook" href="#" title="Facebook">TalkyCloud</a></li>
                  </ul>
                </div>
                <div class="guest"><h6> or register with TalkyCloud </h6>

                  <p class="input-wrapper">
                    <%= f.text_field :username, :autocomplete => "off", :id => "nickname_#{identifier}", "data-next" => "details_#{identifier}", :placeholder => "Username" %>
                  </p>

                  <div class="guest-details " id="details_<%= identifier %>" style="display: none;">
                    <p class="input-wrapper">
                      <%= f.email_field :email, :autocomplete => "off", :id => "email_#{identifier}", :placeholder => "Email" %>
                    </p>
                  </div>
                </div>
                <div class="proceed">
                  <%= f.submit 'Next', :class => 'btn btn-medium dark-blue login-btn', :disable_with => "Processing..." %>
                </div>

              </section>

            </div>

          </div>
      <% end %>


  <% else %>
      <%= form_for object, :url => url, :method => method, :remote => true, :html => {:class => "post-form#{@show_avatar}"} do |f| %>
          <%= f.text_area :message, :placeholder => "Leave your message", :style => "max-height:250px; height:50px; width:100%; overflow:auto; resize:none;" %>
          <br/>

          <%= hidden_field_tag :u, session[:current_widget_host] %>
          <%= hidden_field_tag :k, session[:current_widget_key] %>
          <%= hidden_field_tag :p, session[:current_page] %>

          <% if parent_id %>
              <%= f.hidden_field :parent_id, :value => parent_id %>
              <%= hidden_field_tag :prepend_container, "reply-form-container_#{parent_id}" %>
          <% end %>
          <div id="action_form_<%= rand(19031903) %>" class="post-actions">
            <div class="btn-group pull-right">
              <%= f.submit "Post as #{current_user.try(:username) || "Anonymous"}", :class => "btn dark-blue pull-right" %>
              <a class="btn dark-blue dropdown-toggle pull-right" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to_with_icon "icon-off", "Logout", destroy_user_registration_session_path + widget_params("?"), :method => :delete %></li>
              </ul>
            </div>
          </div>
      <% end %>

  <% end %>
</div>
