<% sub_level ||= 0 %>
<% sub_level += 1 %>
<% identifier = rand(19031903) %>
<li class="comment-box sub-<%= sub_level %>" id="comment_container<%= comment.id %>">
  <div class="avatar pull-left" style='background-image: url(<%= avatar_url(comment.user) %>);'>
  </div>

  <div class="article">
    <div class="post-info">
      <%= "#{comment.user.username}, #{time_ago_in_words(comment.created_at)} ago" %>

      <% if comment.parent.present? %>
          , <i class="icon-retweet"></i>Reply to <%= comment.parent.user.username rescue '[Deleted Comment]' %>
      <% end %>
    </div>
    <div class="past-rating">
      <%= rating_for(comment, :url => rate_posts_path) %>
    </div>
    <div class="past-actions" style="margin-top:-40px; float: right;">

    </div>
    <div class="post-content-preview" id="comment_text_<%= comment.id %>">

      <%= label_tag "content", comment.message, :id => "comment_label_#{comment.id}", "data-page" => params[:page] %>
    </div>

    <div class="article-actions">
      <% if can? :edit, comment %>
          <%= link_to_with_icon "icon-edit", "Edit", edit_comment_path(comment.id), :remote => true, :class => 'edit-comment' %>
          -
          <%= link_to_delete comment, {:url => comment_path(comment, :dom_id => "comment_container#{comment.id}")} %>
      <% end %>
      <% unless (@current_widget.login_required && @current_user.blank?) %>
          <%= link_to_with_icon "icon-retweet", "Reply", "#", :class => 'reply', "data-form" => "reply-form-container_#{comment.id}" %>
      <% end %>
     <!--<section class='social-links'>-->
      &nbsp; Share: &nbsp;<i class="icon-external-link"></i>
      <%= link_to_with_icon "icon-twitter-sign", '', "#", "data-link" => share_twitter_path(:comment_id => comment.id), :class => 'open-win' %>
      <%= link_to_with_icon "icon-facebook-sign", '', "#", "data-link" => share_facebook_path(:comment_id => comment.id), :class => 'open-win' %>
     <!--</section>-->
    </div>
  </div>
  <ul class="child-comments">
    <% for child in comment.children %>
        <%= render :partial => "shared/comment_item", :locals => {:comment => child, :sub_level => sub_level} %>
    <% end %>
  </ul>
  <% unless (@current_widget.login_required && @current_user.blank?) %>
      <ul class="reply-form" id="reply-form-container_<%= comment.id %>">
        <li>
          <%= comment_form(Comment.new, comment_posts_url, 'POST', true, comment.id) %>
        </li>
      </ul>
  <% end %>
</li>
