<% sub_level ||= 0 %>
<% sub_level += 1 %>
<% identifier = rand(19031903) %>
<li class="comment-box sub-<%= sub_level %> social-links-trigger" data-class="<%= "social_links_#{identifier}" %>" id="comment_container<%= comment.id %>">
  <div class="avatar pull-left" style='background-image: url(<%= avatar_url(comment.user) %>);'>
  </div>
  <div class="article">
    <div class="post-info">
      <%= "#{comment.user.username}, #{time_ago_in_words(comment.created_at)} ago" %>

      <% if comment.parent.present? %>
          , <i class="icon-retweet"></i>Reply to <%= comment.parent.user.username rescue '[Deleted Comment]' %>
      <% end %>
    </div>
    <div class="past-rating">
      <div class="rating-tool" style="display: inline-block">
      <%= rating_for(comment, :url => rate_posts_path + widget_params("?")) %>  </div>
      <div class="article-actions pull-right">

        <!--<section class='social-links'>-->
        <div class="social-links-trigger">
          <!--<i class="icon-cogs text-transparent"></i>-->
          <div class="<%= "social_links_#{identifier}" %>" style="display: none; margin-right: 10px;">
            <%= link_to_with_icon "icon-twitter", '', "#", "data-link" => share_twitter_path(:comment_id => comment.id) + widget_params, "data-original-title" => "Tweet this", "data-placement" => "top", :rel => "tooltip", :class => ' social-link open-win text-transparent' %>
            <%= link_to_with_icon "icon-facebook", '', "#", "data-link" => share_facebook_path(:comment_id => comment.id) + widget_params, "data-original-title" => "Share this", "data-placement" => "top", :rel => "tooltip", :class => ' social-link open-win text-transparent' %>
            <% if can? :edit, comment %>
                <%= link_to_with_icon "icon-edit", "", edit_comment_path(comment.id) + widget_params("?"), :remote => true, "data-original-title" => "Edit", "data-placement" => "top", :rel => "tooltip", :class => ' social-link edit-comment text-transparent' %>
                <%= link_to_with_icon "icon-trash icon-white", "", comment_path(comment, :dom_id => "comment_container#{comment.id}") + widget_params, :remote => true, "data-original-title" => "Delete", "data-placement" => "top", :rel => "tooltip", :class => ' social-link edit-comment text-transparent', :method => :delete, :confirm => 'Are you sure?' %>
            <% end %>
            <% unless (@current_widget.login_required && @current_user.blank?) %>
                <%= link_to_with_icon "icon-retweet", "", "#", "data-original-title" => "Reply", "data-placement" => "top", :rel => "tooltip", :class => ' social-link reply text-transparent', "data-form" => "reply-form-container_#{comment.id}" %>
                <%= link_to_with_icon "icon-flag", "", flag_posts_path(:comment_id => comment.id, :class_name => "comment") + widget_params, :remote => true, :method => :post, "data-original-title" => "Flag", "data-placement" => "top", :rel => "tooltip", :class => ' social-link  text-transparent' %>

            <% end %>

          </div>

        </div>
        <!--</section>-->
      </div>
    </div>
    <div class="past-actions" style="margin-top:-40px; float: right;">

    </div>
    <div class="post-content-preview" id="comment_text_<%= comment.id %>">

      <%= label_tag "content", comment.message, :id => "comment_label_#{comment.id}", "data-page" => params[:page] %>
    </div>
  </div>


  <ul class="child-comments">
    <% for child in comment.children.where("state != 'rejected'") %>
        <%= render :partial => "shared/comment_item", :locals => {:comment => child, :sub_level => sub_level} %>
    <% end %>
  </ul>
  <% unless (@current_widget.login_required && @current_user.blank?) %>
      <ul class="reply-form" id="reply-form-container_<%= comment.id %>">
        <li>
          <%= comment_form(Comment.new, comment_posts_url, 'POST', true, comment.id) %>
        </li>
      </ul>
  <% end %>
</li>
