<div class="top-bar">
  <a id="topbar-brand" class="brand" href="<%= root_path %>">
    TalkyCloud
  </a>

  <ul class="top-notifications">
    <li>
      <a href="#widgets" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">
        Widgets (<%= @current_widget.try(:domains).try(:first) || "All" %>)
        <span class="badge blue"><%= @current_store.widgets.count %></span>
      </a>

      <div class="collapsed" style="height: 0; overflow: visible;">
        <ul id="widgets" class="collapse top-bar-list">
          <% @current_store.widgets.each do |widget| %>
              <li><a href="<%= admin_change_widget_path(widget.id) %>"><%= widget.domains.first %></li>
          <% end %>
        </ul>
      </div>
    </li>

    <li>
      <a href="#stores" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">
        Sites (<%= @current_store.name %>) <span class="badge orange"><%= @current_user.managable_stores.count %></span>
      </a>

      <div class="collapsed" style="height: 0; overflow: visible;">
        <ul id="stores" class="collapse top-bar-list">
          <% @current_user.managable_stores.each do |store| %>
              <% next if @current_store == store %>
              <li><a href="<%= admin_change_store_path(store.id) %>"><%= store.name %></li>
          <% end %>
        </ul>
      </div>
    </li>
    <li>
      <a href="#orders" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">
        Comments <span class="badge turquoise"><%= @current_store.comments.all.count %></span>
      </a>

      <div class="collapsed" style="height: 0; overflow: visible;">
        <ul id="orders" class="collapse top-bar-list">
          <li><a href="<%= admin_comments_path(:state => 'approved') %>">Approved
            <span class="count">(<%= @current_store.comments.approved.count %>)</span></a></li>
          <li>
            <a href="<%= admin_comments_path(:state => 'rejected') %>">Rejected<span class="count">(<%= @current_store.comments.rejected.count %>
              )</span></a></li>
          <li>
            <a href="<%= admin_comments_path(:state => 'new') %>">Pending<span class="count">(<%= @current_store.comments.waiting.all.count %>
              )</span></a></li>
        </ul>
      </div>
    </li>

  </ul>
</div>
