<%= render :partial => "shared/errors", :locals => {:target => @widget} %>
<div class="row-fluid">
  <div class="span6">
    <div class="padded">
      <div class="section-title">
        Web Page Details
      </div>
      <div class="vpadded">
        <div class="input  full-width generatable_container">

          <%= f.fields_for :widget_domains do |d| %>
              <% identifier = rand(19031903) %>
              <div class="generatable" id="<%= identifier %>">
                <%= d.text_field :domain, :placeholder => "ex. talkycloud.com", :class => "generatables" %>
              </div>
              <%= link_to_delete d.object, :url => d.object.new_record? ? "#" : delete_domain_admin_widget_path(d.object.id, :dom_id => identifier), :class => "remove_field #{identifier}" %>

          <% end %>
        </div>

        <hr>
        <%= link_to "Connect new sub domain", "javascript:;", :class => "generate_field", "data-target-class" => "generatable" %>


        <% unless @widget.new_record? %>
            <p><i class="icon-info-sign"></i>
              <b>Please Copy and Paste code into place where you would like to load TalkyCloud. </b></p>
        <% end %>
        <div class="well" style="display: none;">

        </div>

      </div>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span6">

      <div class="padded">
        <div class="section-title">
          Settings
        </div>

        <div class="vpadded">
          <div class="input full-width">
            <%= f.select :category_id, Category.where(:category_type => :widget).collect { |c| [c.name, c.id] }, {}, :class => "chzn-select" %>
          </div>
          <div class="clearfix" style="margin-top:15px;">
            <div class="note">Permissions</div>

            <label class="checkbox">
              <%= f.check_box :approval_required %> Approval required
            </label>
            <label class="checkbox">
              <%= f.check_box :login_required %>
              Login required
            </label></div>

          <div class="clearfix" style="margin-top:15px;">
            <div class="note">Rating tool</div>

            <label class="checkbox">
              <% Category.rating_categories.each do |cat| %>
                  <%= f.radio_button :rating_category_id, cat.id %><%= cat.symbol %> <%= "#{cat.name.titleize}" %>
              <% end %>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>

</script>
