<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        <div class="box-header">
          <i class="icon-sitemap"></i> Edit Widget
        </div>
        <%= form_for [:admin, @widget] do |f| %>
            <%= render :partial => "form", :locals => {:f => f} %>
            <div class="row-fluid">
              <div class="span6">
                <div class="padded">
                  <div class="vpadded">
                    <%= f.submit "Update", :class => "btn medium-blue" %> or
                    <%= link_to "Cancel", admin_widgets_path %>
                  </div>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        var cms = document.createElement('script');
        cms.innerHTML = "talkyCostumerKey='<%= @widget.try(:key) %>'";
        cms.type = "text/javascript"

        var external = document.createElement('script');
        <% if Rails.env.development? %>
        external.src = "//localhost:3000/assets/dev_embed.js";
        <% else %>
        external.src = "//talkycloud.com/assets/embed.js";
        <% end %>
        external.id = "talky-script";
        var external2 = document.createElement('script');
        <% if Rails.env.development? %>
        external2.src = "//talkycloud.com/assets/easyXDM.min.js";
        <% else %>
        external2.src = "//talkycloud.com/assets/easyXDM.min.js";
        <% end %>
        $(".well").text(cms.outerHTML + external.outerHTML + external2.outerHTML);
        $(".well").slideDown();
    });
</script>





