<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <i class="icon-microformats">&nbsp; Widgets</i>
          <%= link_to_with_icon "icon-white icon-plus", 'New' ,new_admin_widget_url, :class => "btn btn-success pull-right" %>
        </div>
        <div class="row-fluid padded">

        <table class="table table-striped">
            <thead>
            <tr>
              <th>Domains</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @widgets.each do |widget| %>
                <% identifier = rand(19031903) %>
                <tr id="<%= identifier %>">
                  <td>
                    <%= widget.widget_domains.map(&:domain).join(' | ') %>
                  </td>
                  <td style="line-height: 24px;">
                    <%= widget.category.try(:name) %>
                  </td>
                  <td>
                    <%= link_to_with_icon "icon-pencil", "Edit", edit_admin_widget_path(widget), :class => "btn dark-blue" %>
                    <%= link_to_delete widget, :url => admin_widget_path(widget, :dom_id => identifier), :class => "btn red" %>
                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>
</div>
