<%= content_for :head do %>
    <%= javascript_include_tag "admin/application" %>
    <%= javascript_include_tag "jquery.raty" %>
    <%= javascript_include_tag "widget" %>
    <%= stylesheet_link_tag "admin/font-awesome" %>
    <%= stylesheet_link_tag "admin/application" %>
    <%= stylesheet_link_tag "widget" %>
    <%#= stylesheet_link_tag "ww" %>
    <%= javascript_tag "new_comment_form = '#{escape_javascript(comment_form(@comment, comment_posts_url))}'" %>
    <!--<%#= javascript_tag "edit_comment_form = '#{escape_javascript(comment_form(@comment, update_comment_posts_url))}'" %>-->
<% end %>
<div class="container-fluid-">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <div class="box bordered box-container">
            <div class="box-header">
              <section id="main">
                <%= render :partial => "shared/flashes" %>

              </section>
              <i class="icon-comments"></i> <%= "#{@comments.total_count} Comments" %>
              <div class="pull-right">
                <%= rating_for(@post, :url => rate_posts_path) %>
                <div class="post-error">
                  <%= @object.errors.first[1] if @object == @post && @object.errors.any? %>
                </div>
                <div class="post-success">
                  <%= @success[1] if @success && @success[0] == @post %>
                </div>
              </div>
              <div id="comment-form-container">
                <%= comment_form(@comment, comment_posts_url) %>
              </div>
              <div id="main-nav" class="nav pull-right">
                <ul>
                  <!--<li><a href="#" data-nav="dashboard" style="" class="publisher-nav-color">My Disqus <span class="notification-count" data-role="notification-count" style="display: none;"><span>0</span></span></a></li>-->


                  <li id="thread-share-menu" class="share-menu dropdown" data-dropdown="enabled">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Share">
                      Share <span class="icon-external-link"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li class="share">Share this discussion on
                        <ul>
                          <li class="twitter">
                            <%= link_to_with_icon "icon-twitter-sign", '', "#", "data-link" => share_twitter_path(:post_id => @post.id), :class => 'open-win' %>
                          </li>
                          <li class="facebook">
                            <%= link_to_with_icon "icon-facebook-sign", '', "#", "data-link" => share_facebook_path(:post_id => @post.id), :class => 'open-win' %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
            <div class="padded10">
              <ul class="recent-comments" id="comment_container">
                <%= render :partial => "widgets/form" %>
              </ul>
              <%= link_to "#{image_tag 'hero-image.png', :style => 'width:75px;height:50px;'}".html_safe, "//talkycloud.com" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.edit-comment').on('click', function (e) {
        if ($('form[id^=edit_comment]').length > 0) {
            e.stopImmediatePropagation();
            e.preventDefault();
        }
        $('form[id^=edit_comment]').remove();
        $('label[id^=comment_label_]').show();
    });

    $('.reply').on('click', function (e) {
        e.preventDefault();
        var form = $('#' + $(this).attr('data-form')).find('.comment-form-container');
        form.slideToggle();
        $("html, body").animate({ scrollTop: form.offset().top }, 1000);

    })

    $('.social-links-trigger').live('hover', function(){
        $('.'+$(this).attr('data-class')).css('display','inline-block');
    });
    $('.icon-cogs').live('click', function(){
        $('.'+$(this).attr('data-class')).css('display','inline-block');
    });

    $('.social-links-trigger').live('mouseleave', function(){
        $('.'+$(this).attr('data-class')).slideUp();
    });

</script>

<script>
    $(function () {
        $('textarea[id^=comment_message]').on('focusin', function () {
            $('div[id^=login_form_]').slideDown();
        });
//        $('textarea[id^=comment_message]').on('focusin', function () {
//            $('div[id^='+ $(this).attr('data-form') +']').slideDown();
//        });
        $('input[id^=nickname_]').on('focusin', function () {
            $('div[id=' + $(this).attr('data-next') + ']').slideDown();
        });

        $('.open-win').on('click', function (e) {
            e.preventDefault();
            openWin($(this).attr('data-link'));
        });
        $('.auth-twitter').on('click', function () {
            openWin("/auth/twitter")
        });
        $('.auth-facebook').on('click', function () {
            openWin("/auth/facebook?display=popup")
        });
        $('.auth-talky').on('click', function () {
            openWin("/authenticate/login")
        })

    })
    function openWin(url) {
        var myWindow = window.open(url, 'auth', 'width=500,height=500');
        myWindow.document.html("<p>Loading</p>");
        myWindow.focus();
    }
</script>


