<%= content_for :head do %>
    <%= javascript_include_tag "jquery.raty" %>
    <%= javascript_include_tag "widget" %>
    <%= stylesheet_link_tag "admin/font-awesome" %>
    <%= stylesheet_link_tag "widget" %>
    <%= javascript_tag "new_comment_form = '#{escape_javascript(comment_form(@comment, comment_posts_url))}'" %>
    <!--<%#= javascript_tag "edit_comment_form = '#{escape_javascript(comment_form(@comment, update_comment_posts_url))}'" %>-->
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <div class="box bordered">
            <div class="box-header">
              <i class="icon-comments"></i> Widget Name
              <div class="pull-right">
                <%= rating_for(@post, :url => rate_posts_path) %>
                <div class="post-error">
                  <%= @object.errors.first[1] if @object == @post && @object.errors.any? %>
                </div>
                <div class="post-success">
                  <%= @success[1] if @success && @success[0] == @post %>
                </div>
              </div>
              <div id="comment-form-container">
                <%= comment_form(@comment, comment_posts_url) %>
              </div>
            </div>
            <div class="padded10">
              <ul class="recent-comments" id="comment_container">
                <%= render :partial => "widgets/form" %>
              </ul>
              <%= link_to "#{image_tag 'hero-image.png', :style => 'width:75px;height:50px;'}".html_safe, "//talkycloud.com" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.edit-comment').on('click', function (e) {
        if ($('form[id^=edit_comment]').length > 0) {
            e.stopImmediatePropagation();
            e.preventDefault();
        }
        $('form[id^=edit_comment]').remove();
        $('label[id^=comment_label_]').show();
    })
</script>
