<%= form_for([:admin, @secret]) do |f| %>
  <% if @secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secret.errors.count, "error") %> prohibited this admin_secret from being saved:</h2>

      <ul>
      <% @secret.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :api_key, :placeholder => 'Api Key' %> <br>
    <%= f.text_field :api_secret,:placeholder => 'Api Secret' %> <br>
    <%= f.text_field :provider, :placeholder => "Provider" %> <br>
    <%= f.text_field :environment, :placeholder => "Environment" %> <br>
    <%= f.text_field :permission, :placeholder => "Permissions" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
