<%= render :partial => "shared/errors", :locals => {:target => @user} %>

<div class="row-fluid">


  <div class="span6">
    <div class="padded">
      <div class="section-title">
        Secret
      </div>
      <div class="vpadded">
            <div class="input  full-width">
              <%= f.text_field :api_key, :placeholder => 'Api Key' %> <br>
            </div>

            <div class="input  full-width">
              <%= f.text_field :api_secret,:placeholder => 'Api Secret' %> <br>
            </div>
        <div class="input  full-width">
          <%= f.text_field :provider, :placeholder => "Provider" %> <br>
        </div>
        <div class="input  full-width">
          <%= f.text_field :environment, :placeholder => "Environment" %> <br>
        </div>
        <div class="input  full-width">
          <%= f.text_field :permission, :placeholder => "Permissions" %>
        </div>




      </div>

    </div>
  </div>
</div>



