<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
        <div class="box-header">
          <i class="icon-key">&nbsp; Listing secrets </i>

        </div>
        <div class="row-fluid padded">

          <table class="table table-bordered">
            <tr>
              <th>Provider</th>
              <th>Key</th>
              <th>Secret</th>
            </tr>

            <% @secrets.each do |secret| %>
                <tr>
                  <td><%= secret.provider %></td>
                  <td><%= secret.api_key %></td>
                  <td><%= secret.api_secret %></td>
                  <td><%= link_to 'Edit', edit_admin_secret_path(secret), :class => "btn" %></td>
                </tr>
            <% end %>
          </table>

          <br/>

          <%= link_to 'New Secret', new_admin_secret_path, :class => "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>