<style>
    a.tab-link {
        width: 200px;
        text-align: center;
    }
</style>
<div id="dialog-box" class="row-fluid">
  <div class="span6">
    <div class="box bordered">
      <div class="box-header">
        <%= image_tag avatar_url(current_user), :style => "position:relative; width:40px;" %>
        My Account
        <%= link_to "Close", "#", :onclick => "self.close()", :class => " pull-right btn" %>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" class="tab-link" data-toggle="tab">Settings</a></li>
              <li><a href="#tab2" class="tab-link" data-toggle="tab">Comments
                <span class=" badge blue "><%= "#{@comments.total_count}" %></a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <div class="row-fluid">
                  <div class="span12">
                    <%= render :partial => "shared/errors", :locals => {:target => @user_registration} %>


                    <%= form_for @user_registration, :url => update_account_path + widget_params("?"), :method => :put, :html => {:class => "mainForm"} do |f| %>

                        <div class="row-fluid">

                          <div class="span6">
                            <div class="padded">
                              <div class="section-title">
                                Profile
                              </div>
                              <div class="vpadded">
                                <%= f.fields_for :user do |usr| %>
                                    <div class="input full-width">
                                      <%= usr.text_field :firstname, :placeholder => 'Firstname' %>
                                    </div>
                                    <div class="input full-width">
                                      <%= usr.text_field :lastname, :placeholder => 'Lastname' %>
                                    </div>
                                    <div class="input full-width">
                                      <%= f.email_field :email, :placeholder => 'Email' %>
                                    </div>
                                <% end %>

                              </div>
                            </div>
                          </div>
                          <div class="span6">
                            <div class="padded">
                              <div class="section-title">
                                Change Password
                              </div>
                              <div class="vpadded">
                                <div class="input full-width">

                                  <%= f.password_field :password, :placeholder => "Password" %>
                                </div>
                                <div class="input full-width">

                                  <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
                                </div>

                              </div>

                            </div>
                          </div>
                          <div class="padded">

                            <div class=" vpadded">
                              <div class="clearfix"></div>
                              <%= f.submit "Update", :class => "btn medium-blue" %>
                            </div>

                            <%= render :partial => 'shared/social' %>
                          </div>
                        </div>
                    <% end %>
                  </div>

                </div>
              </div>

              <div class="tab-pane" id="tab2">
                <div class="row-fluid">
                  <ul id="comment_container" class="recent-comments">

                    <%= render :partial => "account/comments" %>
                  </ul>

                </div>
              </div>

              <div class="tab-pane" id="tab3">
                <div class="row-fluid">


                  dd
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $(function () {
        window.resizeTo(450, $('#loginSocial').offset().top + 160);
    });
</script>






