<%= render :partial => "shared/errors", :locals => {:target => @user} %>

<div class="row-fluid">
  <div class="span6">
    <div class="padded">
      <div class="section-title">
        <%= t(:personal_details) %>
      </div>
      <div class="vpadded">
        <div class="input  full-width">
          <%= f.text_field :firstname, :placeholder => t(:firstname) %>
        </div>

        <div class="input  full-width">
          <%= f.text_field :lastname, :placeholder => t(:lastname) %>
        </div>

        <div class="input  full-width">
          <%= f.select :gender, [t(:male), t(:female)], {:prompt => t(:select_gender)}, :class => "chzn-select" %>
        </div>

        <div class="input  full-width">
          <%= select_tag :role, options_for_select([t(:admin), t(:author)]), :class => "chzn-select", :prompt => t(:select_role) %>
        </div>
      </div>

    </div>
  </div>

  <div class="span6">
    <div class="padded">
      <div class="section-title">
        <%= t(:registration_details) %>
      </div>
      <div class="vpadded">
        <%= f.fields_for :user_registration do |d| %>
            <div class="input  full-width">
              <%= d.text_field :username, :placeholder => t(:username) %>
            </div>

            <div class="input  full-width">
              <%= d.text_field :email, :placeholder => t(:email) %>
            </div>

        <% end %>
      </div>

    </div>
  </div>
</div>


