<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered">
      <div class="box-header">
          <i class="icon-user">&nbsp; <%= t(:users) %></i>
        <%#= link_to_with_icon "icon-white icon-plus", 'New' ,new_admin_user_url, :class => "btn btn-success pull-right" %>
      </div>
        <div class="row-fluid padded">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= t(:username) %></th>
              <th><%= t(:comment_count) %></th>
              <th><%= t(:rating_avg) %></th>
              <th><%= t(:actions) %></th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <% identifier = rand(19031903) %>
                <tr id="<%= identifier %>">
                  <td>
                    <%= user.username %>
                  </td>
                  <td style="line-height: 24px;">
                    <%= user.comments.count %>
                  </td>
                  <td> %<%= user.rating_avg_on(@current_store) %>
                  </td>
                  <td>
                    <% if user.banned_from?(@current_store) %>
                        <%= link_to_with_icon "icon-ok", t(:allow_this_user), allow_admin_user_path(user.id), :remote => true, :method => :put, :class => "btn btn-mini green", :confirm => t(:are_you_sure) %>
                    <% else %>
                        <%= link_to_with_icon "icon-remove", t(:ban_this_user), ban_admin_user_path(user.id, :dom_id => identifier), :remote => true, :method => :put, :class => "btn btn-mini red", :confirm => t(:are_you_sure) %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <%= paginate @users, :theme => "bootstrap_theme" %>
              </td>
            </tr>
            </tfoot>
          </table>
      </div>
      </div>

    </div>
  </div>
</div>
