<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="login-container center">
        <div class="title text-transparent"><%= t(:sign_in) %></div>
        <hr class="main">

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'login-form'}) do |f| %>
            <ul class="fields-list">
              <li>
                <i class="icon-user" style="float: left;"></i>
                <%= f.text_field :login, :autocomplete => "off", :autofocus => true, :placeholder => t(:username_or_email) %>
              </li>

              <li>
                <i class="icon-key"></i>
                <%= f.password_field :password, :id => "password", :autocomplete => "off", :placeholder => t(:password) %>
              </li>
            </ul>

            <div class="actions">
              <%= f.submit t(:login), :class => 'btn btn-large medium-blue login-btn' %>
            </div>

            <hr class="main">
            <div class="social-actions">
              <%= link_to "<i class='icon-twitter'></i>".html_safe, "/auth/twitter", :rel => "tooltip", "data-original-title" => t(:twitter_login), "data-placement" => "top", :class => "social-link text-transparent" %>
              <%= link_to "<i class='icon-facebook'></i>".html_safe, "/auth/facebook", :rel => "tooltip", "data-original-title" => t(:facebook_login), "data-placement" => "top", :class => "social-link text-transparent" %>
              <%= link_to t(:forgot_password), new_password_path(resource_name) ,:class => "social-link text-transparent", :style => "font-size: 1em; padding-top:15px; float:left;" %>
            </div>
      <% end %>
      </div>
    </div>
  </div>
</div>